<?xml version="1.0" ?>
<!--
/**
 * Elogic etc
 *
 * @category Elogic
 * @Package Elogic/BackInStock
 * @copyright 2021 Elogic
 * @author Bogdan Rakochyi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <backinstock>
            <email>
                <template>backinstock_email_template</template>
                <email_identity>general</email_identity>
            </email>
        </backinstock>
        <elogic_backinstock>
            <general>
                <enable>0</enable>
            </general>
        </elogic_backinstock>
    </default>
</config>
